* {
    font-family: Arial, Helvetica, sans-serif;
}

.profile-image {
    /* float: left;  */
    position: relative;
    left: 0px;
   
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: #c98168;
    background-color: #dcd6d6;
    display: inline;
}

.multi-column {
    columns: 1;
}

.container {
    display: flex;
    width: 100vw;
    background-color: #dcd6d6;
    justify-content: space-between;
    flex-direction: column;
}

.item-1 {
    background-color: #7a8b9a;
}
 .item-2 {
    background-color: #7a8b9a;
 }
.item-3{
    background-color: #7a8b9a;
}
.item-4{
    background-color: #7a8b9a;
}
.item-5{
    background-color: #7a8b9a;
}


.contain {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    
    grid-template-areas: 
    "first second third"
    "fourth fifth sixth";

    background-color: black;
    
}